.btn {
  padding: 7px 10px
  border-radius: 2px
  transition: background-color .2s
  cursor: pointer;
}

.btn-colored {
  border: none
  background-color: blueDark
  color: whiteBase

  &:active,
  &:focus {
    background-color: blueDarkAccent
    color: gray400
  }
}

