.btn {
  padding: 7px 10px
  border-radius: 2px
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    transition: background-color .2s
  }
}

.btn-sm {
  border-radius: 6px
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(grayAccent, .4);
  font-size: 12px
}

.btn-colored {
  border: none
  background-color: blueDark
  color: whiteBase

  &:hover,
  &:active,
  &:focus {
    background-color: blueDarkAccent
    color: gray400
  }
}

