.search {
  display: flex;

  &__icon {
    fill: grayAccent
    width: 26px
    box-sizing: border-box;
    padding: 4px
  }

  &__container {
    display: none;
    width: calc(200px - 26px);
    position: relative;
    margin-left: auto;

    &-active {
      display: block;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10
      border-color: #fff #fff transparent transparent;
      border-width: 6px
      top: 11px
      left: 18px
      box-shadow: 1px -1px #ccc;
      transform: rotate(-45deg);
      pointer-events: none
    }

    & > input {
      width: 100%
      padding: 3px 0 3px 8px;
      box-sizing: border-box;
    }
  }

  &__list {
    position: absolute;
    width: 100%
    //max-height: 400px
    max-height: 260px
    overflow-y: scroll
    padding: 4px
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: whiteBase;
    margin-top: 15px
    border-radius: 1px;
  }
}

.item-search {
  display: flex;
  flex-direction: column;
  min-height: 40px
  max-height: 40px
  justify-content: space-around
  position: relative;
  padding-right: 5px
  padding-left: 8px
  transition: color .05s, background-color .15s
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 7px
    // horizontal line

    &:before {
      width: calc(100% - 5px)
      bottom: -4px
      left: 5px
      border-bottom: 1px solid #000;
      content: "";
      display: inline-block;
      position: absolute;
    }
  }

  // Opacity mask

  &:after {
    content: ''
    position: absolute;
    top: 0
    right: 0
    width: 35px;
    height: 100%
    background: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, 1));
  }

  &:hover {
    background-color: blueLight;
    color: whiteBase;

    .item-search__date {
      color: whiteBase;
    }

    &:after {
      display: none;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 14px
    white-space: nowrap;
    overflow: hidden;
  }

  &__date {
    font-size: 12px
    color: grayAccent
  }
}
