right-corner() {
  transform: rotate(-135deg);
  left: -5px
}

left-corner() {
  transform: rotate(45deg);
  left: auto;
  right: -5px
}

.modal {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 305px
  height: 330px
  padding: 25px 25px 25px 20px
  position: absolute;
  box-sizing: border-box;
  border-radius: 2px


  &.right-top::before {
    triangle();
    right-corner()
  }

  &.right-bottom::before {
    triangle();
    right-corner()
    bottom: 30px
  }

  &.left-top::before {
    triangle();
    left-corner();
  }

  &.left-bottom::before {
    triangle()
    left-corner();
    bottom: 30px
  }

  .modal__input {
    margin-bottom: 6px
  }

  .modal__area {
    resize: none;
    display: flex;
    width: 100%
    box-sizing: border-box;
    min-height: 115px
    padding: 3px 0;
    padding-left: 5px;
    margin-bottom: 22px
  }
}

.modalClose {
  position: absolute;
  top: 3px
  right: 7px
  left: auto;
  color: grayAccent;
  cursor: pointer;
}

