text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cut {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

triangle() {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10
  border-color: #fff #fff transparent transparent;
  border-width: 6px
  box-shadow: 1px -1px #ccc;
  transform: rotate(-45deg);
  pointer-events: none
}
