@import "base/reset.styl"
@import "base/colors.styl"
@import "base/utils.styl"

@import "components/header.styl"
@import "components/navigation.styl"
@import "components/buttons.styl"
@import "components/inputs.styl"
@import "components/search.styl"
@import "components/calendar.styl"
@import "components/fastEvent.styl"
@import "components/Modal.styl"


.container {
  max-width: 1000px
  padding: 0 50px
  margin: 0 auto

}

.gray-bg {
  background-color: gray400
  box-shadow: 0 3px 6px -2px #d0d0d0;
}
